import(Matrix)
importFrom(stats, var)
importFrom(utils, read.csv, write.table)
importFrom(zoo, na.approx)
export(Amatrix)
export(Gmatrix)
export(Hmatrix)
export(datatreat)
export(formatmatrix)
export(missingdata)
